// main.scss #Manifest file
// Typography
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
// Abstract
@import 'abstract/variables';
// Base
@import 'base/reset';
@import 'base/typography';
@import 'base/body';
// Components
@import 'components/buttons';
@import 'components/inputs';
// Layout
@import 'layout/navbar';
@import 'layout/main-img';
@import 'layout/click-to-action';
@import 'layout/newsletter';
// Pages
// Themes
// Vendors
