body {
    font-family: $raleway;
}
h1{font-family: $old-standard;
    font-weight: $bold;
}
h2{ 
    font-family: $old-standard;
    font-weight: $bold;
    color: $Isabelline;
}
h3{
    writing-mode: vertical-lr;
    color:$smoky-black;
    font-family: $old-standard;
    font-weight: $bold;

}
  

p{font-family: $old-standard;
    font-weight: $regular;
    
    
}