/*Font Family*/
$raleway:'Raleway', sans-serif;
$old-standard: 'Old Standard TT', serif;

/*Font Weights*/
$bold: 700;
$regular: 400;

/*Font Sizes*/
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 27px;
$xs-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;