@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* Color Scheme */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/*img {
    max-width: 100%;
}*/
/*Font Family*/
/*Font Weights*/
/*Font Sizes*/
body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
}

h2 {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  color: #ECECEC;
}

h3 {
  writing-mode: vertical-lr;
  color: #0C0910;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
}

p {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
}

.button {
  text-decoration: none;
  color: #0C0910;
  background-color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 0;
  border: 1px solid #0C0910;
  /*&__md {
      font-size: $large;
      padding: 0.688rem 2rem;
  }
  &__sm {
      font-size: $small;
      padding: 0.28rem 1.05rem;
  }*/
}

.button:hover {
  border-color: #A6A5A8;
}

.button-check:focus + .button, .button:focus {
  color: #D1D1D1;
  border-color: #A6A5A8;
  box-shadow: 0 0 0 0.25rem #ECECEC;
}

.button-check:checked + .button, .button-check:active + .button, .button:active, .button.active, .show > .button.dropdown-toggle {
  color: #FFFFFF;
  background-color: #A6A5A8;
  border-color: #A6A5A8;
}

.button-check:checked + .button:focus, .button-check:active + .button:focus, .button:active:focus, .button.active:focus, .show > .button.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #ECECEC;
}

/*media query buttons*/
@media (min-width: 768px) {
  .button__md {
    font-size: 18px;
    padding: 0.688rem 2rem;
  }
}
@media (max-width: 767px) {
  .button__sm {
    font-size: 14px;
    padding: 0.28rem 1.05rem;
  }
}
.navbar {
  background-color: #FFFFFF;
  height: 3.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.navbar div {
  background-color: #FFFFFF;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Old Standard TT", serif;
  font-size: 16px;
  font-weight: 700;
  height: 3.5rem;
  width: 3.5rem;
  color: #FFFFFF;
  background-color: #0C0910;
}

#navbar-logo {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}
#navbar-logo:hover {
  color: #ECECEC;
}

#navbar-collapse {
  background-color: #FFFFFF;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1.563rem;
  padding-right: 1.563rem;
}

.navbar-toggler {
  padding-right: 1.6rem;
}

.smoky-black-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%2812, 9, 16%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.link-smoky-black {
  color: #0C0910;
  font-weight: 700;
}

.link-smoky-black:hover,
.link-smoky-black:focus {
  color: #646266;
}

/*media query navbar*/
@media (min-width: 768px) {
  .navbar {
    height: 5.75rem;
    padding-right: 2.063rem;
  }

  #logo {
    font-size: 27px;
    height: 5.75rem;
    width: 5.75rem;
    transform: rotate(270deg);
  }
}
.main-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 33vh;
  background-image: url("../img/imagen1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  z-index: -4;
}

.imagen {
  object-fit: cover;
}

@media (min-width: 350px) {
  .main-img {
    background-position: 0% 20%;
  }
}
/*media query main-img*/
@media (min-width: 992px) {
  .main-img {
    width: 55%;
    height: 100%;
    background-position: top center;
  }

  .imagen {
    width: 100%;
    z-index: -4;
  }
}
.main {
  display: flex;
  flex-flow: row wrap-reverse;
  align-content: space-between;
  box-sizing: border-box;
  padding-top: 3.5rem;
  height: 100vh;
}

.click-to-action {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.shop-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 39.4vh;
  padding: 2rem 2.25rem 2rem 2.25rem;
}
.shop-link h1 {
  line-height: 1.4;
  font-size: 27px;
}
.shop-link p {
  color: #646266;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 1rem;
  /*height: 4.675rem;*/
  overflow: auto;
  height: auto;
  /*max-height: 4.65rem;*/
}

/*media query click to action*/
@media (min-width: 768px) {
  .main {
    padding-top: 5.75rem;
  }

  .shop-link {
    padding: 1.25rem 10.25rem 4.25rem 5.25rem;
  }
  .shop-link h1 {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    line-height: 1.4;
    font-size: 47px;
  }
}
@media (min-width: 992px) {
  .click-to-action {
    width: 45%;
    height: 100%;
  }

  .shop-link {
    height: 70%;
    padding: 4.125rem 5rem 4.125rem 5rem;
  }
  .shop-link h1 {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    line-height: 1.4;
    font-size: 47px;
  }
}
.newsletter {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 19vh;
  color: #FFFFFF;
}
.newsletter__box {
  width: 90%;
  background-color: #0C0910;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 1.125rem 2.25rem 1.313rem 2.25rem;
  font-size: small;
}
.newsletter__box h2 {
  font-size: 20px;
}
.newsletter__sub {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: small;
}
.newsletter__sub h3 {
  font-size: 16px;
}

.input {
  width: 100%;
  height: 30%;
  font-family: "Old Standard TT", serif;
  font-size: small;
  /*align-items: inherit ;*/
}

.correo {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: small;
}

/*media query newsletter */
@media (min-width: 768px) {
  .newsletter__box {
    width: 94%;
    padding: 1.5rem 8rem 4.2rem 5.25rem;
  }
  .newsletter__box__sub {
    width: 6%;
  }
  .newsletter__box__sub h3 {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .newsletter {
    height: 30%;
  }
  .newsletter__box {
    padding: 2.125rem 5rem 4.313rem 5rem;
  }
  .newsletter__box h2 {
    font-size: 27px;
  }

  .correo {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
