.main {
    display: flex;
    flex-flow: row wrap-reverse;
    align-content: space-between;
    box-sizing: border-box;
    padding-top: 3.5rem;
    height: 100vh;
    
 
}
.click-to-action{
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: start;
}

.shop-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 39.4vh;
    padding: 2rem 2.25rem 2rem 2.25rem;
    h1 {
        line-height: 1.4;
        font-size: $x-large;
    }
    p {
        color: $granite-gray;
        font-family: $raleway;
        font-size: $medium;
        line-height: 1.8;
        margin-bottom: 1rem;
        /*height: 4.675rem;*/
        overflow: auto;
        height: auto;
        /*max-height: 4.65rem;*/
    }
}


/*media query click to action*/
@media (min-width: 768px) {
    .main {
        padding-top: 5.75rem;
    }
    .shop-link {
        padding: 1.25rem 10.25rem 4.25rem 5.25rem;
        h1 {
            font-family: $old-standard;
            font-weight: $bold;
            line-height: 1.4;
            font-size: 47px;
        }
    }
}



@media (min-width: 992px) {
    .click-to-action {
        width: 45%;
        height: 100%;
    }

    .shop-link {
        height: 70%;
        padding: 4.125rem 5rem 4.125rem 5rem;
        h1 {
            font-family: $old-standard;
            font-weight: $bold;
            line-height: 1.4;
            font-size: 47px;
        }
        
    }
}