.newsletter{
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 19vh;
    color:$white;
    



    &__box{
        width: 90%;
        background-color:$smoky-black ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 1.125rem 2.25rem 1.313rem 2.25rem;
     
        
    
        


    }
&__sub{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $old-standard;  
    font-weight: $regular;


   

}
}
.input{
    width: 100%;
    height:30%;
    font-family: $old-standard;
   /*align-items: inherit ;*/
     
   
}

.correo{
    font-family: $old-standard;  
    font-weight: $regular;
    
}